{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ 'Contact'|trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ 'Contact'|trans }} {{ blogname }}</h1>
    </header>

    {% if app.session.flashbag.get('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flashbag.get('blogger-notice') }}
        </div>
    {% endif %}

    <p>{{ 'Want to contact'|trans }} {{ blogname }}</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="{{ 'Submit'|trans }}" />
    </form>
{% endblock %}