{# src/Comunidad/MensajesBundle/Resources/views/create.html.twig #}
{% extends '::frontend.html.twig' %}
 
{% block title %} 
	{% trans %}Create user{% endtrans %}
{% endblock %}

{% block id 'ayuda' %}
 
{% block article %} 
	{#{form(form)}#}

	{{form_start(form,{'attr' : { 'id' : 'user-create' }})}}

	{{form_errors(form)}}

	<ul>
		
		<li>
		{{form_label(form.to_user)}}
		{{form_errors(form.to_user)}}
		{{form_widget(form.to_user)}}
		</li>

		<li>
		{{form_label(form.title)}}
		{{form_errors(form.title)}}
		{{form_widget(form.title)}}
		</li>

		<li>
		{{form_label(form.message)}}
		{{form_errors(form.message)}}
		{{form_widget(form.message)}}
		</li>



		<li>{{form_widget(form.save)}}</li>

	</ul>
	{{form_end(form)}}

{% endblock %}
 
{% block aside %} bloque lado {% endblock %}