{# src/Comunidad/UsuariosBundle/Resources/views/create.html.twig #}
{% extends '::frontend.html.twig' %}
 
{% block title %} 
	{% trans %}Create user{% endtrans %} 
{% endblock %}

{% block id 'ayuda' %}
 
{% block article %} 
	{#{form(form)}#}

	{{form_start(form,{'attr' : { 'id' : 'user-create' }})}}

	{{form_errors(form)}}

	<ul>
		<li>
		{{form_label(form.login)}}
		{{form_errors(form.login)}}
		{{form_widget(form.login)}}
		</li>

		<li>
		{{form_label(form.password)}}
		{{form_errors(form.password)}}
		{{form_widget(form.password)}}
		</li>

		<li>
		{{form_label(form.email)}}
		{{form_errors(form.email)}}
		{{form_widget(form.email)}}
		</li>

		{% if app.user %}

			<li>
				{{form_label(form.roles)}}
				{{form_errors(form.roles)}}
				{{form_widget(form.roles)}}
			</li>

			<li>
				{{form_label(form.active)}}
				{{form_errors(form.active)}}
				{{form_widget(form.active)}}
			</li>
		{% endif %}


		<li>{{form_widget(form.save)}}</li>

	</ul>
	{{form_end(form)}}

{% endblock %}
 
{% block aside %} bloque lado {% endblock %}